$orange : #e0390c;
$orange-lighter: #F24313;
$orange-darker: #8B1D00; 

$grey-dark: #212121;
$grey : #363636;
$grey-light : #E0E0E0;
$grey-lighter: #afafaf;
$grey-lighterer: #ccc;
$grey-bg : #fafafa;
$almostwhite: #fdfdfd;
$textcolor: #111;

// Unused for now
$green : #94c847;
$purple : #7e525f;
$brown : #8d6e36;
$blue : #8fcee0;
$blue-text : #94bfc3;


// Pie chart colors
$blue2 : #4294c8;
$blue3 : #0076b6;
$blue4 : #005fa3;
$complement: #09A04B;


$beige : #e8e2bf;  
$error : red;

// Fonts
$viaafont: proxima-nova-regular, Helvetica, sans-serif;
$viaafont-cond: proxima-nova-cond, Helvetica, sans-serif;

