@font-face {
  font-family: 'proxima-nova-regular';
  src: url('../fonts/VIAAfonts/proxima-nova-regular/Mark Simonson - Proxima Nova Regular.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-nova-cond';
  src: url('../fonts/VIAAfonts/proxima-nova-cond/Mark Simonson - Proxima Nova Condensed Regular.otf') format('opentype')
}

.viaafont {
    font-family: 'proxima-nova-regular', sans-serif;
}

.viaafont-cond {
    font-family: 'proxima-nova-regular-cond', sans-serif;
}
