
/* Footer */
footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    float:left;
    margin-top:4rem;
   /* width:100%;
    background-color:$grey-dark;
    color:$almostwhite;
    padding:2rem;
    line-height:3.2rem;
    margin-top:5rem;*/
}

.logo-footer {
    display:block;
    float:right;
    width:5.5rem;
}
