body {
    background-color:$grey-bg;
    color:$textcolor;
    font-family: $viaafont;
}

header, h1, h2, h3{
    font-family: $viaafont;
}

.container { 
    width:100%;
    margin: 0;
    padding: 1.5rem 0 0 0;

    @media (min-width: 960px) {
        width:960px;
        margin:0 auto;
        overflow:visible;

        .nopadding {
            padding:0;
        }
    }
}

.underline {
    text-decoration:underline;
}

.nopadding {
    padding: 0;
}

a {
    text-decoration:none;
    color:$orange;

    &:hover {
        color:$orange-lighter;
    }
}


p {
    line-height:2.4rem;
    margin-bottom:1rem;
}

.error {
    color: $error;
}

strong {
    font-weight:800;
}

h1 {
    font-size:2.4rem;
    font-weight:800;
}

.bigtext {
    font-size:6rem;
    font-weight:800;
    line-height:4rem;
}

.massivetext {
    font-size:7rem;
    line-height:7rem;
    font-weight:800;
}

[v-cloak] {
    display: none;
}


.relative {
    position:relative;
    z-index:-1;
}

.ml5 {
    margin-left:5rem;
}

.mb7 {
    margin-bottom:7rem;
}

.mb10 {
    margin-bottom:10rem;
}
.mt7 {
    margin-top:7rem;
}

.mt10 {
    margin-top:10rem;
}

.pl7 {
    padding-left:7rem;
}

.pl10 {
    padding-left:10rem;
}

.pb7 {
    padding-bottom:7rem;
}

.pb10 {
    padding-bottom:10rem;
}


/* Button styles */
.btn {
    padding:1rem 2rem;
    margin-right:1rem;
    text-align:center;

    min-width:18rem;

    height:4rem;
    display:inline-block;

    transition:0.2s ease;
    border-radius:5px;
}

.btn-primary {
    background-color:$orange;
    color:$almostwhite;
}

.btn-primary:hover {
    background-color:$orange-lighter;
    color:$almostwhite;
    box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    padding-top:0.8rem;
    background-color:$almostwhite;
    color:$orange;
    border:2px solid $orange;
}

.btn-secondary:hover {
    color:$almostwhite;
    border-color:$orange;
    background-color:$orange;
}

.btn-ternary {
    color:$almostwhite;
    background-color:$blue2;
}

.btn-ternary:hover {
    color:$almostwhite;
    background-color:$blue;
}
/* End of button styles */