/* Navigation menu */
header {
    height:33rem;
    width:100%;
    padding:0;
    background-color:$almostwhite;
    color:$almostwhite;

    @media (min-width: 700px){
        height: 11rem;
    }

    .navigation {
        padding-top:1rem;

        @media (min-width: 700px){
            display:block;
        }
    }

    .logo {
        height:7.5rem;
        width:100%;   
        display:block;
        margin-bottom:3rem;

        @media (min-width: 700px) {
            display:inline-block;
            height:7.8rem;
            width:auto;
            text-align:left;
            margin: 0.5rem 5rem 0 2rem;         
        }

        a {
            display:block;
            height:100%;     
            text-align:center;
        }

        img {
            height: 100%;
            margin: 0 auto;

            @media (min-width: 700px) {
                display:inline-block;
                vertical-align:middle;
            }
        }
    }

    ul {
        width:100%;
        margin: 0; 

        @media (min-width: 960px) {
            width:960px;
            margin:0 auto;
            padding:0;
            padding-top: 1.5rem;
            //overflow:visible; 
        }
    }

    .menuitem {
        display:inline-block;
        width:100%;
        text-align:center;

        @media (min-width:700px) {
             width:auto;
        }

        .mainlink {
            padding:0 2rem;
            margin-bottom:2rem;
            width:auto;
            line-height:5rem;
            display:inline-block;
            
            font-size:2rem; 
            position:relative;
            color:$orange;

            &.active{
                border-bottom:2px solid $orange;
                color : $orange;
            }

            @media (min-width: 700px) {
                font-size: 1.8rem;
                border-radius:0px;

                font-size: 2.3rem;
                display:inline;
                border-radius:5px 5px 0 0;
                padding: 1rem 2rem;
                margin-bottom: 0;
      
                &.active{
                    border-bottom:2px solid $orange;
                    color : $orange;
                }

                &:hover {
                    background-color:$almostwhite;
                    color:$orange;
                }
                
                // Fancy line animation - CSS hacks ftw
                &:after{
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                    background-color: $orange;
                    content: "";
                    transition: width 0.2s;    
                }
                &:hover:after{
                    width:100%;
                }
            }
        }
    }
    
}


.menuitem-user { 
    position:absolute;
    top:1rem;
    right:1rem;

    @media (min-width:700px) {
        position: relative;
        float:right;
        padding:0.5rem 0 2rem 2rem;
        margin-right:1rem;
    }
}

.menuitem-user:hover .user, .menuitem-user:active .user {
    background-color:$orange-lighter;
}

.user { // The icon container
    border-radius:50%;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;

    font-size: 3rem;
    text-align: center;

    background-color:$orange;
    transition: 0.2s ease-in-out;
}


.icon-user {
    color:$almostwhite;
}

.user-container {   // The popup menu
    border: 1px solid $grey-light;

    position:absolute;
    top: 6.2rem;    
    right: 0;

    background-color:$almostwhite;
    color:$textcolor;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);

    padding: 1rem;
    width: 24rem;
    display:none;

    p {
        font-size:1.8rem;
        margin-bottom:2rem;
    }

    a {
        display:block;
        margin: 0 auto 1rem auto;

        font-size:1.8rem;

        height:3rem;
        line-height:2rem;
        text-align:center;
        transition: .2s ease-in-out;

        font-family:$viaafont;

        &:hover {
            border-bottom: 1px solid $orange;
        }

        &:last-child {
            margin-bottom:0;
        }
    }

}

.show {
    display:block;
}
