/* Navigation menu */
header {
    height:8rem;
    width:100%;
    padding:0;

    .navigation {
        padding-top:1rem;

        @media (min-width: 700px){
            display:block;
        }
    }
}

.logo {
    padding: 0;
    position: absolute;
    left: 1em;
    height:7.5rem;
    width:100%;
    /*display:block;*/
    /*margin: 0 auto;*/
}

.menuitem-user { 
    position:absolute;
    z-index:100;
    top:1rem;
    right:1rem;

    @media (min-width:700px) {
        position: relative;
        float:right;
        padding:0.5rem 0 2rem 2rem;
        margin-right:1rem;
    }
}

.menuitem-user:hover .user, .menuitem-user:active .user {
    background-color:$orange-lighter;
}

.user { // The icon container
    border-radius:50%;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;

    font-size: 3rem;
    text-align: center;

    background-color:$orange;
    box-shadow:1px 1px 2px 0 rgba(0, 0, 0, 0.25);

    transition: 0.2s ease-in-out;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}


.icon-user {
    color:$almostwhite;
}

.user-container {   // The popup menu
    border: 1px solid $grey-light;

    position:absolute;
    top: 6.2rem;    
    right: 0;

    background-color:$almostwhite;
    color:$textcolor;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);

    padding: 1rem;
    width: 24rem;
    display:none;

    p {
        font-size:1.8rem;
        margin-bottom:2rem;
    }

    a {
        display:block;
        margin: 0 auto 1rem auto;

        font-size:1.8rem;

        height:3rem;
        line-height:2rem;
        text-align:center;
        transition: .2s ease-in-out;

        font-family:$viaafont;

        &:hover {
            border-bottom: 1px solid $orange;
        }

        &:last-child {
            margin-bottom:0;
        }
    }

}

.show {
    display:block;
}
