
.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-doc:before { content: '\e809'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */