<div id="briefingApp" v-cloak class="container">
    <div v-for="briefing in briefings" class="briefingItem">

        <div class="briefing_title" @click="toggleContent">
                <a href="#" class="briefing_id">{{ briefing.briefing_id }}</a>
                <a href="#" span class="briefing_expand"><span class="icon-down-open"></span></a>
        </div>   

        <div class="briefing_content">         
            <p>{{ briefing.briefing_title | capitalize }} - {{ briefing.reception_date }}</p>

            <table v-for="media in briefing.media_ids">
                <tr><td>Media item</td><td></td></tr>           
                <tr v-for="value in media">
                    <td>{{ $key | capitalize }}</td>
                    <td>{{ value }}</td>
                </tr>      
            </table>
        </div>
    </div>

  
    <div class="addItem-icon" @click="showAddItemContent">
        <a href="#"><span class="icon-plus-circled"></span></a>
    </div>


    <div class="addItem-content">
        <h2>Add item</h2>
        <form action="api/briefings/add" method="POST">
            <p>
                <input autofocus autocomplete="off" placeholder="Briefing ID" id="briefing_id">
            </p>
            <p>
                <input placeholder="E-mail" id="email">
            </p>

            <!--<div class="container-media-ids" id="dynamicInput">
                Entry 1<br><input type="text" name="myInputs[]">
            </div>
            <input type="button" value="Add another media ID" @click="addInput('dynamicInput')">
            <br>-->

            <input type="submit" value="Submit" >
        </form>
    </div>


    <%- include('footer', {}); %>
</div>