<div id="briefingApp" v-cloak class="container">

    <div class="briefingItem contentbox">
        <div class="briefing_header first">
            <div class="briefing_col">Briefing titel</div>
            <div class="briefing_col">Uitvoerder</div>
            <div class="briefing_col">Briefing ID</div>
            <div class="briefing_col">Vooruitgang</div>
        </div>
    </div>

    <div id="briefingItemList">
        <div v-for="briefing in briefings" class="briefingItem contentbox">

            <div class="briefing_header" @click="toggleContent">
                <div class="briefing_col">{{ briefing.briefing_titel | capitalize }}</div>
                <div class="briefing_col">{{ briefing.uitvoerder }}</div>
                <div class="briefing_col">{{ briefing.briefing_id }}</div>
                <div class="briefing_col">{{ briefing.totaal - briefing.aantal_bezig }} / {{ briefing.totaal }}</div>
                <div class="briefing_expand"><span class="icon-down-open"></span></div>
            </div>

            <div class="briefing_content">
                <p>Toegevoegd op {{ briefing.reception_date | formatDate }}</p>
                <table>
                    <tr v-for="item in briefing.media_ids">
                        <td></td>
                        <td>{{ item.media_id }}</td>
                        <td>{{ item.media_type }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="briefingItem contentbox"><div class="briefing_header last"></div></div> <!-- Border of the last item.. -->
    <div class="addItem-content" id="addItem">
        <h2>Briefing toevoegen</h2>
        <a href="#" class="close_x" onclick="hideAddItemContent()">x</a>

        <form>
            <p>
                <input type="text" autofocus autocomplete="off" placeholder="Briefing ID" id="briefing_id">
                <input type="button" value="Valideren" id="btn_validate" @click="validate">
            </p>
            <div class="skryvOutcome">
                <p>Uitvoerder: {{ skryvUitvoerder }}</p>
                <p>Titel: {{ skryvBriefingTitel }}</p>

                <p>Bevat {{ skryvMediaIds.length + skryvMediaIdsAudio.length }} items:</p>
                <ul v-for="mediaItem in skryvMediaIdsVideo">
                    <li>{{ mediaItem.media_id }} [video]</li>
                </ul>
                <ul v-for="mediaItem in skryvMediaIdsAudio">
                    <li>{{ mediaItem.media_id }} [audio]</li>
                </ul>
            </div>
            <p class="error"></p>
            <p class="success"></p>
            <input class="submitbtn" type="button" value="Start ophaling bij VRT" @click="startFetch">
        </form>
    </div>

    <div class="toast contentbox">
    </div>

    <%- include('footer', {}); %>
</div>
