    <div id="briefingApp" v-cloak class="container">
        <div v-for="briefing in briefings" class="briefingItem contentbox">

            <div class="briefing_header" @click="toggleContent">
                    <a href="#" class="briefing_title">{{ briefing.briefing_title | capitalize }}<small> - {{ briefing.briefing_id }}</small></a> 
                    <a href="#" span class="briefing_expand"><span class="icon-down-open"></span></a>
            </div>   

            <div class="briefing_content">         
                <p>Door {{ briefing.email }} op {{ briefing.reception_date }}</p>

                <table>     
                    <tr>
                        <td>Media ID</td>
                        <td>Media Type</td>
                        <td>Status</td>
                    </tr>     
                    <tr v-for="item in briefing.media_ids">      
                        <td>{{ item.media_id }}</td>
                        <td>{{ item.media_type }}</td>
                        <td>{{ item.status }}</td>            
                    </tr>      
                </table>
            </div>
        </div>

        <div class="addItem-content" id="addItem">
            <h2>Item toevoegen</h2>
            <a href="#" class="close_x" onclick="hideAddItemContent()">x</a>
            <form>

            <!-- get email, briefing_id and media_ids from POST request --> 
                <p>
                    <input type="text" autofocus autocomplete="off" placeholder="Briefing ID" id="briefing_id">
                    <input type="button" value="Valideren" id="btn_validate">
                </p>
                <p>
                    <input placeholder="E-mail" id="email" disabled value="Test email">
                </p>
                <p>
                    <input placeholder="Titel" id="briefing_title" disabled value="test briefing title">
                </p>
                <div class="media-ids-container">
                    <div class="media-ids-added"></div>
                    <!--<div class="media-ids-input">
                        <input type="text" placeholder="Media ID" id="mediaIdValue">
                        <input type="button" value="Voeg Media ID toe" @click="addMediaId('test')" > 
                    </div>-->
                </div>     

                <input type="hidden" id="media_ids" id="media_ids" value="id1,media_id2,test 3">
                <input class="submitbtn" type="button" value="Start ophaling bij VRT" @click="startFetch">
            </form>
        </div>

        <div class="toast contentbox">
        </div>

        <%- include('footer', {}); %>
    </div>