<div id="briefingApp" v-cloak class="container">
    <div v-for="briefing in briefings" class="briefingItem contentbox">

        <div class="briefing_title" @click="toggleContent">
                <a href="#" class="briefing_id">{{ briefing.briefing_id }}</a>
                <a href="#" span class="briefing_expand"><span class="icon-down-open"></span></a>
        </div>   

        <div class="briefing_content">         
            <p>{{ briefing.briefing_title | capitalize }} - {{ briefing.reception_date }}</p>

            <table v-for="media in briefing.media_ids">
                <tr><td>Media item</td><td></td></tr>
                <!-- List every key/value in object -->   
                <tr v-for="value in media">      
                    <td v-if="$key != 'retry_count'">{{ $key | capitalize }}</td>
                    <td v-if="$key != 'retry_count'">{{ value }}</td>
                </tr>      
            </table>
        </div>
    </div>

    <div class="addItem-content contentbox">
        <h2>Item toevoegen</h2>
        <form action="/api/briefings" method="POST">

         <!-- get email, briefing_id and media_ids from POST request --> 
            <p>
                <input autofocus autocomplete="off" placeholder="Briefing ID" name="briefing_id">
            </p>
            <p>
                <input placeholder="E-mail" name="email">
            </p>

            <div class="media-ids-container">
                <div class="media-ids-added">
                </div>
                <div class="media-ids-input">
                    <input type="text" placeholder="Media ID" class="mediaIdValue">
                    <input type="button" value="Voeg Media ID toe" @click="addMediaId" >
                     <!-- v-on:keyup.enter.prevent="addMediaId"
                          would be nice but it submits the form and can't seem to prevent it --> 
                </div>
            </div>     

            <input type="hidden" name="media_ids" id="media_ids">
            <input class="submitbtn" type="submit" value="Voeg item toe">
        </form>
    </div>

    <div class="toast contentbox">
    </div>

    <div class="addItem-icon" @click="showAddItemContent">
        <a href="#"><span class="icon-plus-circled"></span></a>
    </div>


    <%- include('footer', {}); %>
</div>