<div id="dashboard" v-cloak>
    <!-- errors -->
    <!-- <div class="container nopadding">           
        <div class="col col-12 loader-airbox mt10" v-if="errors.length > 0">
            <div class="col col-12 center" >
                <p>Oeps!</p>
                <p v-for="msg in errors">{{ msg }}</p>
            </div>
        </div>
    </div> -->
<!-- 
    <div class="container nopadding">
        <div class="col col-12">
            <input v-model="newBriefing" v-on:keyup.enter="addBriefing">
            <ul>
                <li v-for="briefingId in briefingIds">
                    <span>{{ briefingId }}</span>
                    <ul>
                        <li v-for="mediaId in briefings[briefingId]">
                            <span>Media ID: {{ mediaId.media_id }}</span>
                            <span>Status: {{ mediaId.status }}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div> -->

    <section class="briefingApp">
        <header class="header">
            <input class="new-briefing-id"
                        autofocus autocomplete="off"
                        placeholder="Briefing ID"
            >
            <div class="container-media-ids" id="dynamicInput">
                Entry 1<br><input type="text" name="myInputs[]">
            </div>
            <input type="button" value="Add another media ID" onClick="addInput('dynamicInput');">
            <br>
            <input type="submit" value="Submit">
        </header>
        
    </section>

    <!-- <div class="divider"></div> -->

    <!-- Loader gif -->
    <!-- <div class="container nopadding">           
        <div class="col col-12 loader-airbox" v-show="errors.length==0">
            <div class="loader">
                <span class="icon-spin3 animate-spin"></span>       
            </div>
        </div>
    </div> -->

    <%- include('footer', {}); %>
</div>