<div id="briefingApp" v-cloak class="container">

    <div class="briefingItem contentbox">
        <div class="briefing_header first">
            <div class="briefing_col">Briefing titel</div>
            <div class="briefing_col">E-mail</div>
            <div class="briefing_col">Briefing ID</div>
            <div class="briefing_col">Vooruitgang</div>
        </div>
    </div>

    <div id="briefingItemList">
        <div v-for="briefing in briefings" class="briefingItem contentbox">

            <div class="briefing_header" @click="toggleContent">
                <div class="briefing_col">{{ briefing.briefing_title | capitalize }}</div>
                <div class="briefing_col">{{ briefing.email }}</div>
                <div class="briefing_col">{{ briefing.briefing_id }}</div>
                <div class="briefing_col">Vooruitgang</div>
                <div class="briefing_expand"><span class="icon-down-open"></span></div>
            </div>

            <div class="briefing_content">
                <p>Toegevoegd op {{ briefing.reception_date | formatDate }}</p>
                <table>
                    <tr v-for="item in briefing.media_ids">
                        <td>{{ item.media_id }}</td>
                        <td>{{ item.media_type }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="briefingItem contentbox"><div class="briefing_header last"></div></div> <!-- Border of the last item.. -->

    <div class="addItem-content" id="addItem">
        <h2>Item toevoegen</h2>
        <a href="#" class="close_x" onclick="hideAddItemContent()">x</a>
        <form>

        <!-- get email, briefing_id and media_ids from POST request -->
            <p>
                <input type="text" autofocus autocomplete="off" placeholder="Briefing ID" id="briefing_id">
                <input type="button" value="Valideren" id="btn_validate">
            </p>
            <p>
                <input placeholder="E-mail" id="email" disabled value="Test email">
            </p>
            <p>
                <input placeholder="Briefing titel" id="briefing_title" disabled value="test briefing title">
            </p>
            <div class="media-ids-container">
                <div class="media-ids-added"></div>
                <!--<div class="media-ids-input">
                    <input type="text" placeholder="Media ID" id="mediaIdValue">
                    <input type="button" value="Voeg Media ID toe" @click="addMediaId('test')" >
                </div>-->
            </div>

            <input type="hidden" id="media_ids" id="media_ids" value="id1,media_id2,test 3">
            <input class="submitbtn" type="button" value="Start ophaling bij VRT" @click="startFetch">
        </form>
    </div>

    <div class="toast contentbox">
    </div>

    <%- include('footer', {}); %>
</div>
