<footer >
    <div class="container">
      <div class="col sm-col-8">
        <p class="lowfootertext">
            Voor meer info, mail naar <a href="mailto:support@viaa.be">support@viaa.be</a>.
        </p>
        <p>
            &copy; VIAA 2016
        </p>  
      </div>
      <div class="col sm-col-4 ">
        <p class="clearfix">
          <img src="/public/assets/logo.svg" class="logo-footer" alt="Logo"/><br>
        </p>     
      </div>
    </div>
</footer>

