<header>
    <div class="toolbar">
        <div class="cont">
            <div class="search-sort">
                <input type="text" id="txt-search" />
                <span class="icon-search"></span>
                <select class="" name="" >
                    <option value="0">Sorteren op</option>
                </select>
            </div>

            <div class="menuitem-user" onclick="showmenu()">
               <div class="user">
                    <a href="#"><span class="icon-user dropbtn"></span></a>
               </div>
               <div class="user-container" id="user-container-id">
                    <p>Welkom terug, <strong><%= username %></strong>!</p>
                    <a href="#">Account</a>
                    <a href="/logout">Log uit</a>
               </div>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="cont">
            <ul>
                <li><a href="#" class="active">Vooruitgang</a></li>
                <li><a href="#">Voltooid</a></li>
                <li class="addItem-icon">
                    <a href="#" class=" btn btn-primary" onclick="showAddSubtitleContent()">Ondertitel toevoegen</a>
                    <a href="#" class=" btn btn-primary" onclick="showAddItemContent()">Briefing toevoegen</a>
                </li>
            </ul>
        </div>

    </div>


</header>
